body {
  height: 200vh;
  background-color: #71a79c;
}

/* header */
header {
  height: 160px;
  display: flex;
  justify-content: space-between;
  background-color: #71a79c;
}

.logo-langues {
  height: 100%;
  width: 10vw;
  background-color: #71a79c;
}

.logo-box {
  height: 80%;
  overflow-y: scroll;
  background-color: #71a79c;
}

.logo-box > ul {
  list-style-type: none;
}

.logo-box > ul > li > img {
  height: 100%;
  width: 100%;
}

.langues {
  height: 20%;
  width: 100%;
  overflow-y: scroll;
  background-color: azure;
}

.langues > ul > li {
  list-style-type: none;
  margin-top: 2px;
  width: 100%;
  background-color: rgb(72, 172, 172);
}

.compte-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: auto;
}

.compte-slogan {
  font-size: 25px;
  word-spacing: 3px;
  font-variant: small-caps;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.compte {
  display: flex;
  margin: 20px 0 0 2px;
  flex-basis: 450px;
}

.btnCompte {
  display: flex;
  flex-direction: column-reverse;
  background-color: #71a79c;
}
.btnCompte .btn {
  padding: 4px 4px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(139, 188, 177, 0.937254902);
  color: rgb(55, 56, 54);
  border: ridge;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btnCompte .btn:hover {
  background-color: #537655;
}

.compte > img {
  margin: 10px 0 0 20px;
}

.slogan {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

/* nav */
.navbar {
  font-size: 20px;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar > ul > li {
  list-style-type: none;
}

/* mon-panier */
.mon-panier {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  background-color: rgb(120, 150, 221);
}

.mon-panier > fieldset {
  border: 0;
  padding: 2px;
  margin: 2px;
  flex-basis: 40%;
}

.mon-panier > fieldset > input {
  border: 0;
  padding: 0;
  height: 20px;
  width: 80px;
}

.mon-panier > img {
  width: 80%;
}

/* main */
main {
  background-color: #71a79c;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

section {
  background-color: #71a79c;
  width: 90vw;
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e1ddda;
  height: 80%;
}

section > .content > .prodFavICad {
  background-color: #e1ddda;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
}

section > .content > .prodFavICad > .prod1 > img,
.prod2 > img,
.prod3 > img {
  height: 280px;
  width: 320px;
}

/* aside */
aside {
  border-width: 4px;
  border-bottom: 0px;
  border-style: ridge;
  width: 10vw;
  height: 100%;
  background-color: #71a79c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .exit {
  height: 80px;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
aside .contact {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
aside .contact .nouscontactez {
  font-size: larger;
  background-color: #71a79c;
}
aside .contact .boxenvloppe {
  width: 80px;
  height: 50px;
}
aside .contact .boxenvloppe img {
  width: 100%;
  height: 100%;
}

/* bandeau */
section > .bandeau {
  height: 20%;
  background-color: #71a79c;
}

.bandeau {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.bandeauTerroir {
  position: relative;
  display: inline;
  height: 100%;
}

#ProdTerroir {
  position: absolute;
  bottom: 30%;
  left: 10%; /* Positionné à 10% du côté gauche de l'image */
  padding: 10px 20px;
  font-size: 16px;
  background-color: beige;
  border-radius: 25px;
  cursor: pointer;
}

#ProdTerroir:hover {
  background-color: #71a79c;
}

.bandeauArtisanat {
  position: relative;
  display: inline;
  height: 100%;
}

#ProdArtisanat {
  position: absolute;
  bottom: 30%;
  left: 10%; /* Positionné à 10% du côté gauche de l'image */
  padding: 10px 20px;
  font-size: 16px;
  background-color: beige;
  border-radius: 25px;
  cursor: pointer;
}

#ProdArtisanat:hover {
  background-color: #71a79c;
}

footer {
  border-width: 4px;
  border-style: ridge;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #71a79c;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
}

/* media queries */
@media screen and (max-width: 600px) {
  section > .content > .prodFavICad {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}
@media screen and (max-width: 600px) {
  /* Logo et langues */
  .logo-langues {
    flex-direction: column;
    text-align: center;
  }
  .logo-box ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .logo-box ul li {
    margin-right: 10px;
  }
  .langues ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .langues ul li {
    margin-left: 10px;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
  }
} /*# sourceMappingURL=PageAccueil.css.map */
